<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!--这什么鬼,为什么这样写不行-->
    <!--<script src="../public/js/index.js"></script>-->
    <style type="text/css">
        #content {
            white-space: pre;
        }
    </style>

</head>
<body>
<div id="content">
</div>

<script src="/js/index.js" charset="utf-8"></script>
</body>
</html>