<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<style type="text/css">
    #content {
        white-space: pre;
    }
</style>
<div id="content"></div>

<p>浪漫</p>
<p>满屋</p>

<script src="js/index.js"></script>
</body>
</html>